*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
*,
*::before,
*::after{
  box-sizing:inherit;
}
html{
  font-size:10px;
}

.nome {
  color: #74a2fd;
  margin-top: 22px;
  margin-bottom: 0px;
}

card-body {
  color: #323232;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica neue, roboto;
}
.container_card{
  width:400px;
  height:400px;
  /* margin-left: 96px; */
  margin-right: 64px;
  background-image: linear-gradient(to right top, #b0b8cc, #9ca4b8, #8990a5, #767d92, #636a7f, #565c6f, #494e60, #3d4151, #323541, #282931, #1d1d22, #121214);
  border-radius:4px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display:flex;
  /* margin-top: -60px; */
  overflow:hidden;
}

.box__left{
  width:65%;
  height:100%;
  display:flex;
  padding-top: 22px;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  background: #112232;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.box__image{
  width:10rem;
  height:10rem;
  border-radius:50%;
  border:1px solid #74A2FD;
  position:relative;
}
.box__image::before{
  content:"";
  width:11rem;
  height:11rem;
  border-radius:50%;
  border:2px solid;
  border-color:#ACE7E9 transparent #ACE7E9 transparent;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) rotate(0deg);
  transition:transform 1s;
}
.box__image::after{
  content:"";
  width:12rem;
  height:12rem;
  border-radius:50%;
  border:2px solid;
  border-color:#74A2FD #74A2FD #74A2FD transparent;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) rotate(-180deg);
  transition:transform 1s;
}
.avatar:hover .box__image::before{
  transform:translate(-50%, -50%) rotate(360deg);
}
.avatar:hover .box__image::after{
  transform:translate(-50%, -50%) rotate(-360deg);
}
img{
  height:100%;
  width:100%;
  border-radius:50%;
}
.btn{
  border:2px solid #fff;
  background:#FF003B;
  padding: .8rem 2.5rem;
  border-radius:100px;
  font-weight:400;
  color:#fff;
  transition:all .2s;
}
.btn:not(:last-child){
  margin-bottom:1rem;
}
.btn:focus{
  outline:none;
}
.btn:hover{
  background:#A8D5DB;
  color:#FF003B;
}
.box__infos{
  margin-top:-3rem;
  text-align:center;
}
.box__buttons{
  display:flex;
  flex-direction:column;
}
.box__right{
  flex:1;
  background-image: rgba(254, 250, 0, 0.1);
}

.right--1{
  height:calc(100% / 3);
  background: #4A52F0;
  /* background:#FF003B; */
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transition:background .2s;
}
.right--1:not(:last-child){
  border-bottom:1px solid #ffffff;
}
h2{
  font-size:3rem;
  color:#fff;
}

p{
  font-size:12px;
  color:#FFF;
  margin-top: 4px;
}
.right--1:hover{
  background: #ACE7E9;
}

.right--1:hover h2 {
  color: #112232;
}
