@import "card.css";
@import "button.css";
@import "carrousel.css";
@import "footer.css";
@import "index.css";

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

:root:root body {
  background-color: #112232;
}

/* ! overlaps with the other css */
